
    body{
        margin: 0;
        background-color: black;
    }
    span{
        color: yellow;
    }
    .scoreDiv{
        position: fixed;
        user-select: none;
        margin-left: 10px;
        margin-top: 1px;
    }